<nav class="navbar navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/image/logolo.jpeg" class="logo-nav">
            <span class="fw-bold">
                <span style="color:#d4af37;">AEE</span> R-FASS LOLY
            </span>
        </a>
    </div>
</nav>

<br><br><br>